.SideDrawer {
    background-color: #59ABE3;
    /* background-color: purple; */
    color: #eee;
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100vh;
    z-index: 200;
    opacity: 1;
    transition-property: all;
    transition-duration: .65s;
}

.CloseSideDrawer {
    /* width: 0;
    opacity: 0; */
    transform: translateX(100%);
}

p.exitIcon {
    text-align: right;
}