.question-card {
    display: inline-block;
    margin: 10px;
    width: 20%;
    min-width: 150px;
    /* height: 350px; */
    border: 1px solid #eee;
    vertical-align: top;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, .5); */
}

.correct {
    border: 1px solid green;
    box-shadow: 0 1rem 1rem green;
}

.incorrect {
    border: 1px solid red;
    box-shadow: 0 1rem 1rem red;
}